.mat-slider-horizontal {
    height: 48px;
    min-width: 316px;
}

.mat-slider-wrapper, .mat-slider-track-fill {
    background-image: linear-gradient(to right,#1ABC9C 0%, #F1C40F 20%, #E74C3C 100%)
}